* {
  box-sizing: border-box;
}

.headImg {
  position: relative;
  z-index: -1;
}
.hero {
  height: 100vh;
  background-image: url("../../images/PasteImage.png");
  background-position: center;
  background-size: cover;
  margin-block-end: 4rem;
}
.headSection {
  position: relative;
  width: 45%;
  top: 30%;
  left: 8%;
  z-index: 3;
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.p {
  font-size: 0.9rem;
  font-weight: 700;
}

.header {
  font-size: 3rem;
  width: 90%;
  font-weight: 900;
  padding-block-end: 1rem;
}

.subHeader {
  font-size: 1.2rem;
  width: 75%;
  padding-block-end: 1rem;
}

.btn {
  width: 25%;
  background-color: black;
  color: white;
  border: unset;
  border-radius: 1rem;
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  color: black;
  background-color: white;
}
.cards {
  margin-block-end: 7rem;
}
.card {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.Img {
  position: relative;
}

.contentCoat {
  position: absolute;
  top: 3%;
  left: 5%;
}

.contentCoat h5,
.content h5 {
  font-size: 2.2rem;
}

.content {
  position: absolute;
  bottom: 3%;
  left: 5%;
}

.bags {
  margin-block-end: 1.7rem;
}

button.buton {
  padding: 0;
  border: unset;
  background-color: transparent;
  border-bottom: 0.1rem solid black;
}

.banner,
.joinus {
  background-color: rgb(227, 227, 227);
  border-radius: 0.5rem;
}
.banner {
  margin-inline: 0;
}
.banner h3 {
  color: black;
}

.banner p {
  color: rgb(74, 74, 74);
  position: relative;
}

.link {
  text-decoration: unset;
  color: black;
  position: relative;
  bottom: -10%;
  cursor: pointer;
}

.link::after {
  content: "";
  width: 4.4rem;
  height: 2rem;
  border-bottom: solid black 0.1rem;
  position: absolute;
  bottom: -0.5rem;
  left: 0;
}

.joinus p {
  font-size: 0.8rem;
  padding-block-end: 1rem;
}

.email {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
}

.email input {
  border: unset;
  padding-inline: 1rem;
  background-color: transparent;
  color: black;
}
.email .submit{
  cursor: pointer;
  position: absolute;
  right: 6.5rem;
  bottom: 0rem;
  transition: all .3s ease-in-out;
  margin: 0;
  padding: 0;
}

.email .submit:hover{
  transform: scale(1.1);
}

.email::after {
  content: "";
  width: 30rem;
  border-bottom: solid black 0.1rem;
  position: absolute;
  bottom: -0.5rem;
  right:6rem;
}
