.navBar {
  height: 2.5rem;
  width: 100%;
  top: 4.5%;
  z-index: 5;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.navBarBg {
  background-color: rgba(235, 182, 180, 0.8);
}

.logo {
  width: 15%;
}

.icon {
  width: 85%;
}
.firstMenu {
  margin-inline-start: 4rem;
}

.lastMenu {
  margin-inline-start: 10rem;
}

.popUp {
  position: absolute;
  left: 60%;
  top: -25%;
  padding-inline: .3rem;
  font-size: .65rem;
  border-radius: 50%;
  color: white;
  background-color: black;
}
