.Footer {
}

.logo {
  width: 10%;
}

Link {
  cursor: pointer;
}

.p {
  color: rgb(116, 116, 116);
  width: 60%;
}

.social i {
  color: rgb(116, 116, 116);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.social i:hover {
  color: black;
}

ul {
  padding-block-start: 0.5rem;
  list-style: none;
  cursor: pointer;
}
ul li {
    font-size: .8rem;
  color: rgb(116, 116, 116);
  margin-block-end: 1rem;
  transition: all 0.3s ease-in-out;
}
ul li:hover {
  color: black;
}

.copyright {
  margin-block-start: 5rem;
  color: black;
}
