@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Maven+Pro:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  font-family: "Space Grotesk", sans-serif;
}
.btn {
  display: block;
  /* margin-inline-start: auto; */
  width: 25%;
  margin-block: 1rem;
  background-color: black;
  color: white;
  border: unset;
  border-radius: .5rem;
  padding-block: 0.5rem;
  padding-inline: 0.8rem;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: #eec4c3;
  color: white;
}

.btn:disabled {
  background-color: black;
  color: white;
}

.p {
  font-size: 0.9rem;
  padding-inline-start: 1rem;
}

.margin-y {
  margin-block: 8rem;
}

.link {
  text-decoration: unset;
  color: black;
  font-weight: 700;
  padding-inline-start: 0.3rem;
}
.alert {
  background-color: #ebb6b4;
  color: white;
  border: unset;
}

.form-control:focus {
  border: unset;
  box-shadow: 0 0 0 0.25rem #ebb6b4;
}

input:focus-visible {
  outline: unset;
}

.form-check-input:checked[type="radio"] {
  background-color: black;
}

.form-check-input:checked {
  background-color: black;
  border-color: black;
}
.form-check-input:focus {
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0;
}
