
.btn{
  display: block;
  margin-inline-start: auto;
  width: 25%;
  margin-block: 1rem;
  background-color: black;
  color: white;
  border: unset;
  border-radius: 1rem;
  padding-block: .5rem;
  padding-inline: .8rem;
  transition: all .5s ease-in-out;
}

.btn:hover{
  background-color: rgb(0, 140, 255);
}

.btn:disabled{
  background-color: black;
  color: white;
}

.p{
  font-size: .9rem;
  padding-inline-start: 1rem;
}

.margin-y{
  margin-block: 8rem;
}




.link{
text-decoration: unset;
color: black;
font-weight: 700;
padding-inline-start: .3rem;

}

.form-control:focus{
  border: unset;
  box-shadow: 0 0 0 0.25rem #CFF4FC;
}

input:focus-visible {
  outline: unset;
}